@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    width: 100%;
    @apply min-h-screen bg-white text-black transition-colors dark:bg-zinc-800 dark:text-white;
}

button {
    cursor: pointer;
}
